<style>.maincontents {
    min-height: 10px;
}</style>


<div class="container">
    <div>
        <div class="mainusers">[@login]</div>
    </div>


    <div class="masthead">
        <div class="navbar-inner">
            <h5 class="text-muted">Yet Another PHP Framework II / Installation    </h5>

            <ul class="nav nav-justified ">
                [@menus]
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
     <div id="main_page_contents" class="maincontents">
         <div class="page-header">
            [@page]
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-4">
         </div>
        <div class="col-md-4">
            <div id="latest_news">

            </div>

        </div>
        <div class="col-md-4">
         </div>
    </div>
 </div>


