<link href="App/Templates/default/css/layout.css" rel="stylesheet">
<link href="App/Templates/default/css/admin.css" rel="stylesheet">
 <div class="container">
    <div>
         <div class="mainusers">[@login]</div>

    </div>

    <div class="masthead">
        <div class="navbar-inner">
            <h5 class="text-muted">Administration Section </h5>

            <ul class="nav nav-justified ">
                [@menus]
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="main_page_contents" class="maincontents">
        <div class="page-header">
            [@page]
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-8">
            <h3>Ενημέρωση</h3>
        </div>

        <div class="col-md-4">
            <h3>Ακολουθήστε μας</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <footer>
        <div class="footer">
            <div   style="float:right;"> [@copyright]</div>
            </div>
    </footer>
</div>



