<div class="container">
    <div>
      <!--  <img src="Media/images/logo.jpg" name="logo" width="358" height="95" border="0"> -->

        <div class="mainusers">[@login]</div>

    </div>

    <div class="masthead">
        <div class="navbar-inner">
            <h5 class="text-muted">Framework II testing  </h5>

            <ul class="nav nav-justified ">
                [@menus]
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
     <div id="main_page_contents" class="maincontents">
         <div class="page-header">
            [@page]
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-4">
            <h2>News</h2>
        </div>
        <div class="col-md-4">
            <div id="latest_news">

            </div>

        </div>
        <div class="col-md-4">
            <small> Ajax Load - no refresh  </small> <br/>
			 <a title-data="  News -  " class="footerTitleNews" href="#" onclick='contentShow("Contents/test.php?news_id=22&title=Τίτλος κανονικα");'>   ajax only, in div  </a>
			<br/> <a title-data="  xxx" class="footerTitleNews" href="#" onclick='contentShow("Contents/test.php?news_id=222&title=Νέος κωδικός");'> news   </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <footer>
    <div class="footer">
        <div align="left" style="float:left;"> [@copyright]</div>

        <div align="right" style="float:right;">
            <a href="https://twitter.com/ " target="_blank"><img class=" BorderUpLite"
                                                                 src="Media/images/social/twitter.png" border="0"
                                                                 alt="follow us at twitter"
                                                                 title="follow us at twitter"></a>
            <a href="https://www.facebook.com/pages/?fref=ts" target="_blank"><img class="BorderUpLite "
                                                                                   src="Media/images/social/facebook.png"
                                                                                   alt="follow us at Facebook"
                                                                                   title="follow us at Facebook"></a>
            <a href="http://www.linkedin.com/pub/" target="_blank"> <img class="BorderUpLite "
                                                                         src="Media/images/social/linkedin.png"
                                                                         border="0" alt="follow us at linkedin"
                                                                         title="follow us at linkedin"></a>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
	<img alt="Άδεια Creative Commons" style="border-width:0" src="Media/images/cc.png" /></a></div>
    </div>
    </footer>
</div>



